@font-face {
    font-family: myFirstFont;
    src: url(./Norse-Bold.otf);
}
a{
    color: aliceblue;
}
body{
    outline: solid 1px black;
    margin: 0px;
    display: flex;
}
.photo{
    background-image: url(https://images.unsplash.com/photo-1585202900225-6d3ac20a6962?q=80&w=1374&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-repeat:round;
    width: 40%;
    height: 100vh;
    display: flex ;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.banner{
    background-color: rgba(0, 0, 0, 0.514);
    color: rgb(255, 255, 255);
    height: 120px;
    width: 100%;
    font-family: myFirstFont;
    font-size: 55px;
    font-weight: bolder;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
}
.credit{
    color: aliceblue;
    height: 20px;
    width: 70%;
    text-align: center;
}
.form{
    width: 60%;
    height: 100vh;
}